body {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4 {
    font-family: "Source Sans Pro", sans-serif;
}

main {
    margin: 0;
}


.headline {
    background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
}

#input {
    padding: 5px;
    width: 40vw;
    text-align: center;
}

.picture {
    max-width: 250px;
    height: auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;
}

.ingredients {
    margin-top: 30px;
}