{% extends "layout.html" %}
{% block content %}
   <div class="sources">
     <h1>Resources</h1>
     <h2>Information</h2>
     <ul>
         <li>
             <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4976416/#:~:text=Vitamin%20E%20is%20an%20important,as%20a%20free-radical%20scavenger.">Vitamin E in Dermatology</a>
         </li>
         <li>
             <a href=""></a>
         </li>
     </ul>
     <h2>Credit</h2>
     <ul>
       <li>
         <a href="https://pixabay.com/photos/coconut-oil-on-wooden-spoon-2090576/">Coconut Oil Picture</a>
       </li>
       <li>
        <a href="https://pixabay.com/photos/cocoa-cocoa-butter-natural-2806800/">Cocoa Butter Picture</a>
       </li>
       <li>         
        <a href="https://pixabay.com/photos/essential-oils-flower-aromatherapy-3084952/">Essential Oils Picture</a>
       </li>
       <li>
        <a href="/static/images/cocoa-butter.jpg">Aloe Vera Picture</a>
       </li>
       <li>
         <a href="https://pixabay.com/photos/soda-lime-kitchen-eat-food-fresh-4017615/">Baking Soda Picture</a>
       </li>
       <li>
         <a href="https://pixabay.com/photos/beeswax-honey-honeybee-honeycomb-15218/">Beeswax Picture</a>
       </li>
       <li>
         <a href="https://pixabay.com/photos/glass-spoon-cosmetics-cream-pink-3141865/">Shea Butter Picture</a>
       </li>
     </ul>
   </div>
 {% endblock %}